.banner {
  height: 50%;
  border-bottom: 10px solid $mainBlue;
  position: relative;

  &__img {
    display: block;
  }
}



#logo {
  position: absolute;

  top: 0;
  left: 0;
  margin-left: -70px;
}
