.headline {
  font-weight: 500;
  font-size: 1.9rem;
  color: $mainBlue;

  @mixin atSmall {
    font-size: 3.875rem;
  }

  &--centered {
    text-align: center;
  }

  &--small {
    font-size: 1.2rem;

    @mixin atSmall {
      font-size: 1.875rem;
    }
  }

  &--b-margin-small {
    margin-bottom: .5em;
  }
}
