.page-section {
  padding: 1rem 0;

  @mixin atMedium {
      padding: 4.5rem 0;
  }

  &--about {
    @mixin atMedium {
      background: url('/assets/images/background_about.jpeg')top center no-repeat;
      background-size: cover;
    }
  }

  &--portfolio {
    @mixin atMedium {
      background: url('/assets/images/portfolio_bg.jpg')top center no-repeat;
      background-size: cover;
    }
  }
}
