.site-footer {
  background-color: $mainBlue;
  color: white;
  padding: 1rem 0;
  text-align: center;
  min-height: 100px;

  &__text {
    display: block;
    font-weight: 200;
  }

  &__icon-container a {
    color: white;
  }

  &__icon {
    padding-right: 10px;
  }
}
